*,
*::after,
*::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    display: flex;
    height: 100vh;
}

#player-1, #player-2 {
    border: 2px solid blue;
    width: 25%;
    display: flex;
    align-items: center;
    justify-content: center;
}

main {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#main-container {
    width: 100%;
}

header {
    text-align: center;
    padding: 2rem;
}


.button-container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2rem;
}

#btn-container2 {
    display: none;
    width: 80%;
    justify-content: space-around;
}

.btn {
    width: 5rem;
    padding: 0.5rem 0;
}


dialog {
    margin: auto auto;
    width: 50vw;
    height: 50vh;
}

#dialog-container {
    width: 50%;
    margin: 7vh auto;
}

dialog .input-container {
    display: flex;
    flex-direction: column;
}

dialog .input-container input {
    margin-bottom: 1rem;
}

#dialog-buttons {
    padding: 0;
    justify-content: space-evenly;
}


/* board styling */

#board-section {
    border: 2px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2rem;
}

#board-container {
    width: 60%;
    display: grid;
    grid-template-columns: repeat(3, 33fr);
    grid-template-rows: repeat(3, 33fr);
}

#board-container .grid-box {
    width: 100%;
    aspect-ratio: 1/1;
    display: flex;
    align-items: center;
    justify-content: center;
}

#grid-1, #grid-2, #grid-3,
#grid-4, #grid-5, #grid-6 {
    border-bottom: 2px solid black;
}

#grid-4, #grid-5, #grid-6,
#grid-7, #grid-8, #grid-9 {
    border-top: 2px solid black;
}

#grid-1, #grid-4, #grid-7,
#grid-2, #grid-5, #grid-8 {
    border-right: 2px solid black;
}

#grid-2, #grid-5, #grid-8,
#grid-3, #grid-6, #grid-9 {
    border-left: 2px solid black;
}

/* ------------------------------- */

.hidden {
    display: none;
}