:root {
    --transparent: hsla(0, 0%, 100%, 0);
    --board-color: #b2af9a;
    --main-black: #222222;
    --main-white: #FFF7F8;
    --green: #8DE969;
    --red: #c43d27;
    --blue: #047B8B;
}

*,
*::after,
*::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    display: flex;
    height: 100vh;
    font-family: 'Public Sans', sans-serif;
    background-color: var(--main-white);
    color: var(--main-black);
}

/* right-left player section */

#player-1, #player-2 {
    width: 25%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.player-section-container {
    border: 3px solid var(--main-black);
    border-radius: 13.5px;
    padding: 1rem;
    background-color: var(--main-white);
    width: 230px;
}

.player-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    padding: 0.5rem 2.5rem;
    margin-top: 0.5rem;
}

.player-card img {
    width: 105px;
    aspect-ratio: 1/1;
    margin: 0;
    padding: 1rem;
}

.player-card h3 {
    font-size: 1.7rem;
}

.score-container {
    margin-top: 4rem;
    text-align: center;
    padding: 1rem;
    font-size: 7rem;
}

/* ----------------------------- */

main {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#main-container {
    width: 100%;
}

header {
    text-align: center;
    margin: 1rem;
    font-size: 1.5rem;
}

.button-container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1.5rem;
}

#btn-container2 {
    display: none;
    width: 80%;
    justify-content: space-around;
}

.btn {
    width: 5rem;
    padding: 0.5rem 0;
    border: 2px solid;
    font-weight: 400;
    background-color: var(--main-white);
    border-radius: 5px;
}

.btn:hover {
    font-weight: 700;
}

dialog {
    margin: auto auto;
    width: 50vw;
    height: 50vh;
    color: var(--main-black);
    background-color: var(--main-white);
    border: 3px solid var(--main-black);
    border-radius: 13.5px;
}

.dialog-container {
    width: 50%;
    margin: 7vh auto;
}

dialog .input-container {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
}

dialog .input-container input {
    margin: 0.5rem 0 1rem 0;
    padding: 0.5rem;
    border: 2px solid ;
    border-radius: 10px;
    background-color: var(--main-white);
}

dialog .input-container input:focus{
    outline: 1.5px solid;
}

dialog .input-container input:-webkit-autofill,
dialog .input-container input:-webkit-autofill:hover,
dialog .input-container input:-webkit-autofill:focus,
dialog .input-container input:-webkit-autofill:active {
    transition: background-color 5000s ease-in-out 0s;  
}

#dialog-buttons {
    justify-content: space-between;
    padding: 0;
}

#win-d-container {
    text-align: center;
    font-size: 2rem;
    margin-top: 5rem;
    margin-bottom: 4rem;
}

#win-d-btns {
    padding: 0;
    justify-content: space-evenly;
}

input.red:-webkit-autofill,
input.red:-webkit-autofill:hover,
input.red:-webkit-autofill:focus,
input.red:-webkit-autofill:active{
    outline: 1.5px;
    border: 2px solid var(--red);
    -webkit-text-fill-color: var(--red);
}

input.blue:-webkit-autofill,
input.blue:-webkit-autofill:hover,
input.blue:-webkit-autofill:focus,
input.blue:-webkit-autofill:active{
    outline: 1.5px;
    border: 2px solid var(--blue);
    -webkit-text-fill-color: var(--blue);
}

.red {
    border-color: var(--red);
    color: var(--red)
}
.blue {
    border-color: var(--blue);
    color: var(--blue)
}

/* board styling */

#board-section {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1.5rem;
}

#board-container {
    width: 60%;
    display: grid;
    grid-template-columns: repeat(3, 33.33fr);
    grid-template-rows: repeat(3, 33.33fr);
}

#board-container .grid-box {
    width: 100%;
    aspect-ratio: 1/1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.grid-box img {
    width: 80%;
    aspect-ratio: 1/1;
}

#grid-1, #grid-2, #grid-3,
#grid-4, #grid-5, #grid-6 {
    border-bottom: 5px solid var(--board-color);
}

#grid-4, #grid-5, #grid-6,
#grid-7, #grid-8, #grid-9 {
    border-top: 5px solid var(--board-color);
}

#grid-1, #grid-4, #grid-7,
#grid-2, #grid-5, #grid-8 {
    border-right: 5px solid var(--board-color);
}

#grid-2, #grid-5, #grid-8,
#grid-3, #grid-6, #grid-9 {
    border-left: 5px solid var(--board-color);
}

/* ------------------------------- */

.hidden {
    display: none;
}